.repo{
    display: flex;
    border: solid 1px #000000;
    margin-bottom: 2px;
}
.avatar{
    flex:1;
    height: 100px;
}
.description{
    flex: 3;
}
div{
    color: #747474;
}
.divTitle{
    color: #000000;
}